In [2]:
%run functions.ipynb
%run data_preparation.ipynb

base_folder_path = '/workspaces/nyc_bike_rental//data'
start_year = 2015
end_year = 2019
combined_data = combine_csv_files_in_years(base_folder_path,start_year,end_year)
import pandas as pd

Accessible dataframes    Description                            # of columns
combined_data            Gives combined data from 2015-2019     15
data_2020                Gives data for 2020                    15
data_2024                Gives data for 2024                    13
data_2019                Gives data for 2019-Baseline           15
station_data             Existing stations in NYC from Lyft      6

In [18]:
data_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.936,2019-12-01 00:33:07.682,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.470,2019-12-01 00:23:36.570,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.798,2019-12-01 00:25:23.969,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.758,2019-12-01 00:22:51.597,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.023,2019-12-01 00:34:44.228,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,367,2019-02-21 12:05:05.268,2019-02-21 12:11:13.221,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,1
404943,497,2019-02-21 17:45:00.451,2019-02-21 17:53:18.158,3694,Jackson Square,40.711130,-74.078900,3679,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985,1
404944,959,2019-02-25 06:17:31.931,2019-02-25 06:33:31.495,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977,1
404945,936,2019-02-26 06:14:45.417,2019-02-26 06:30:21.875,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977,1
404946,822,2019-02-26 15:45:20.537,2019-02-26 15:59:02.607,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,2

In [3]:
#count occurence for each station
station_counts = data_2019['start station name'].value_counts()
print(station_counts.head(30))

start station name
Grove St PATH                 46662
Hamilton Park                 24106
Sip Ave                       19085
Harborside                    17877
Newport PATH                  17370
Marin Light Rail              14196
Newport Pkwy                  11173
Newark Ave                    10604
City Hall                     10186
Morris Canal                  10063
Warren St                     10020
Washington St                  9824
Brunswick & 6th                9678
Paulus Hook                    9108
Jersey & 3rd                   9086
Columbus Dr at Exchange Pl     9027
Jersey & 6th St                9006
Van Vorst Park                 8684
Columbus Drive                 8585
Liberty Light Rail             8508
Brunswick St                   8506
Monmouth and 6th               8175
Journal Square                 7684
Manila & 1st                   7377
McGinley Square                7194
JC Medical Center              6795
Dixon Mills                    6667
Essex Light Rail               6244
Grand St                       6242
Exchange Place                 5304
Name: count, dtype: int64

In [16]:
data_2024

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50656,75E5CF948A4ADB77,electric_bike,2024-01-25 20:51:27,2024-01-25 20:59:16,Willow Ave & 12 St,HB505,Clinton St & 7 St,HB303,40.751920,-74.030396,40.745420,-74.033320,casual
50657,58DD5BF65F9B9E31,electric_bike,2024-01-27 09:03:41,2024-01-27 09:08:47,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,casual
50658,F0FBCE423BE48B08,classic_bike,2024-01-28 14:46:29,2024-01-28 14:51:43,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,member
50659,7DD51CAD2DBE7990,classic_bike,2024-01-10 08:03:47,2024-01-10 08:10:55,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,casual
50660,A48A85D58AFEBAA3,electric_bike,2024-01-29 12:22:47,2024-01-29 12:25:33,Willow Ave & 12 St,HB505,Bloomfield St & 15 St,HB203,40.751956,-74.030405,40.754530,-74.026580,member

In [11]:
data_2019.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [3]:
##SATURDAYS - START STATIONS

# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les données pour inclure uniquement les samedis (jour_de_la_semaine = 5)
saturdays_data = data_2019[data_2019['day_of_week'] == 5]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
saturdays_station_counts = saturdays_data['start station name'].value_counts()

# Calculer le nombre de samedis de l'année 2019
num_saturdays_2019 = len(data_2019[data_2019['day_of_week'] == 5]['starttime'].dt.date.unique())

# Calculer le nombre moyen de départs par station le samedi pour chaque station
average_saturdays_per_station = (saturdays_station_counts/num_saturdays_2019).round(0).astype(int)

# Afficher le résultat
print("10 first stations with the highest demand (in terms of starting stations) on Saturdays")
print(average_saturdays_per_station.head(10))

10 first stations with the highest demand (in terms of starting stations) on Saturdays
start station name
Grove St PATH         73
Hamilton Park         49
Marin Light Rail      48
Harborside            48
Newport PATH          42
Sip Ave               38
Newport Pkwy          35
Newark Ave            32
Liberty Light Rail    31
Warren St             28
Name: count, dtype: int64

In [4]:
##SATURDAYS - END STATIONS

# Convertir la colonne de date au format datetime
data_2019['stoptime'] = pd.to_datetime(data_2019['stoptime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['stoptime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les données pour inclure uniquement les samedis (jour_de_la_semaine = 5)
saturdays_data2 = data_2019[data_2019['day_of_week'] == 5]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
saturdays_station_counts2 = saturdays_data2['end station name'].value_counts()

# Calculer le nombre de samedis de l'année 2019
#num_saturdays_2019 = len(data_2019[data_2019['day_of_week'] == 5]['stoptime'].dt.date.unique())

# Calculer le nombre moyen de départs par station le samedi pour chaque station
average_saturdays_per_station2 = (saturdays_station_counts2/num_saturdays_2019).round(0).astype(int)

# Afficher le résultat
print("10 first stations with the highest demand (in terms of ending stations) on Saturdays")
print(average_saturdays_per_station2.head(10))

10 first stations with the highest demand (in terms of ending stations) on Saturdays
end station name
Grove St PATH         94
Hamilton Park         46
Newport PATH          45
Marin Light Rail      45
Harborside            43
Sip Ave               38
Newport Pkwy          37
Newark Ave            36
Liberty Light Rail    31
Warren St             30
Name: count, dtype: int64

In [6]:
##SUNDAYS - STARTING STATIONS

# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les données pour inclure uniquement les dimanche
sundays_data = data_2019[data_2019['day_of_week'] == 6]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
sundays_station_counts = sundays_data['start station name'].value_counts()

# Calculer le nombre de samedis de l'année 2019
num_sundays_2019 = len(data_2019[data_2019['day_of_week'] == 6]['starttime'].dt.date.unique())

# Calculer le nombre moyen de départs par station le samedi pour chaque station
average_sundays_per_station = (sundays_station_counts/num_sundays_2019).round(0).astype(int)

# Afficher le résultat
print("10 first stations with the highest demand (in terms of starting stations) on Saturdays")
print(average_sundays_per_station.head(10))

10 first stations with the highest demand (in terms of starting stations) on Saturdays
start station name
Grove St PATH         67
Harborside            41
Hamilton Park         40
Marin Light Rail      37
Newport Pkwy          35
Newport PATH          35
Sip Ave               30
Warren St             29
Liberty Light Rail    27
Newark Ave            24
Name: count, dtype: int64

In [12]:
##SUNDAYS - ENDING STATIONS

# Convertir la colonne de date au format datetime
data_2019['stoptime'] = pd.to_datetime(data_2019['stoptime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['stoptime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les données pour inclure uniquement les dimanche
sundays_data2 = data_2019[data_2019['day_of_week'] == 6]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
sundays_station_counts2 = sundays_data2['end station name'].value_counts()

# Calculer le nombre de samedis de l'année 2019
#num_sundays_2019 = len(data_2019[data_2019['day_of_week'] == 6]['starttime'].dt.date.unique())

# Calculer le nombre moyen de départs par station le samedi pour chaque station
average_sundays_per_station2 = (sundays_station_counts2/num_sundays_2019).round(0).astype(int)

# Afficher le résultat
print("10 first stations with the highest demand (in terms of ending stations) on Saturdays")
print(average_sundays_per_station2.head(10))

10 first stations with the highest demand (in terms of ending stations) on Saturdays
end station name
Grove St PATH         74
Harborside            39
Hamilton Park         39
Newport PATH          37
Marin Light Rail      35
Newport Pkwy          34
Liberty Light Rail    28
Warren St             28
Newark Ave            28
Sip Ave               27
Name: count, dtype: int64

In [35]:
#WEEKDAYS - STARTING STATIONS
# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 6: Dimanche

# Filtrer les données pour inclure uniquement les jours de la semaine (lundi à vendredi)
weekdays_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4)]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les jours de la semaine
weekdays_station_counts = weekdays_data['start station name'].value_counts()

# Calculer le nombre de jours de la semaine (lundi à vendredi) dans l'année 2019
num_weekdays_2019 = len(weekdays_data['starttime'].dt.date.unique())

# Calculer le nombre moyen de départs par station pour chaque jour de la semaine (lundi à vendredi)
average_weekdays = weekdays_station_counts / num_weekdays_2019

# Arrondir chaque valeur à l'entier le plus proche
average_weekdays = average_weekdays.round(0).astype(int)

# Afficher le résultat
print("Top 10 stations with the highest demand per day (in terms of starting stations) during the week")
print(average_weekdays.head(10))

Top 10 stations with the highest demand per day (in terms of starting stations) during the week
start station name
Grove St PATH       151
Hamilton Park        75
Sip Ave              60
Newport PATH         51
Harborside           51
Marin Light Rail     37
Brunswick & 6th      31
City Hall            30
Newark Ave           29
Washington St        29
Name: count, dtype: int64

In [18]:
# Open only 2023

current_directory = os.getcwd()
file_name = "data/2023"
folder_path = os.path.join(current_directory, file_name)

data_2023 = combine_csv_files(folder_path)
data_2023

# data_2019['start_lat'] = pd.to_numeric(data_2019["start_lat"])
# data_2019['end_lat'] = pd.to_numeric(data_2019["end_lat"])
# data_2019['start_lng'] = pd.to_numeric(data_2019["start_lng"])
# data_2019['end_lng'] = pd.to_numeric(data_2019["end_lng"])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,557150C42CBD584B,classic_bike,2023-02-16 18:05:38,2023-02-16 18:13:47,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743190,-74.040126,40.736982,-74.027781,member
1,9F1B2C0BCD476C66,classic_bike,2023-02-15 19:20:33,2023-02-15 19:27:06,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743222,-74.040081,40.736982,-74.027781,member
2,4A4A29A7C1B54278,classic_bike,2023-02-18 14:58:16,2023-02-18 15:06:15,Mama Johnson Field - 4 St & Jackson St,HB404,12 St & Sinatra Dr N,HB201,40.743140,-74.040041,40.750604,-74.024020,casual
3,BBF4E1D39D41D78C,classic_bike,2023-02-24 15:16:12,2023-02-24 15:24:17,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743187,-74.040179,40.743140,-74.040041,member
4,3CECAA17C4ABBF30,classic_bike,2023-02-16 18:05:02,2023-02-16 18:05:04,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743172,-74.040054,40.743140,-74.040041,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
988846,9549398286BB59B5,docked_bike,2023-05-27 13:24:51,2023-05-27 13:51:18,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Newport Pkwy,JC008,40.736982,-74.027781,40.728745,-74.032108,casual
988847,AB0790683044D89E,classic_bike,2023-05-18 17:12:07,2023-05-18 17:25:02,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member
988848,68226FA538A405CA,classic_bike,2023-05-05 18:44:57,2023-05-05 18:56:15,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member
988849,CABAC21C0F0140A5,classic_bike,2023-05-16 11:56:11,2023-05-16 12:04:04,Columbus Drive,JC014,Newport Pkwy,JC008,40.718355,-74.038914,40.728745,-74.032108,member
988850,4AABD797EF6F7BB2,classic_bike,2023-05-30 11:04:46,2023-05-30 11:13:54,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Warren St,JC006,40.736982,-74.027781,40.721124,-74.038051,member

In [39]:
##2019 - WEEKDAYS - BETWEEN 6AM AND 10AM AND BETWEEN 4PM AND 8PM
# Supposons que data_2019 soit votre DataFrame contenant les colonnes "start station name" et "starttime"

# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 6: Dimanche

# Filtrer les données pour inclure uniquement les jours de la semaine (lundi à vendredi) et les heures entre 7h et 9h
weekday_morning_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4) & (data_2019['starttime'].dt.hour >= 6) & (data_2019['starttime'].dt.hour < 10)]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" pour les jours de la semaine et les heures spécifiées
weekday_morning_station_counts = weekday_morning_data['start station name'].value_counts()

# Calculer le nombre de jours de la semaine (lundi à vendredi) dans l'année 2019
num_weekdays_2019 = len(weekday_morning_data['starttime'].dt.date.unique())

# Calculer le nombre moyen de départs par station pour les jours de la semaine et les heures spécifiées
average_weekday_morning = weekday_morning_station_counts / num_weekdays_2019

# Arrondir chaque valeur à l'entier le plus proche
average_weekday_morning = average_weekday_morning.round(0).astype(int)

# Afficher le résultat
print("Average number of departures per station for days of the week and hours between 6 a.m. and 10 a.m. in 2019:")
print(average_weekday_morning.head(10))


weekday_evening_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4) & (data_2019['starttime'].dt.hour >= 16) & (data_2019['starttime'].dt.hour < 20)]

weekday_evening_station_counts = weekday_evening_data['start station name'].value_counts()

average_weekday_evening = weekday_evening_station_counts / num_weekdays_2019

average_weekday_evening = average_weekday_evening.round(0).astype(int)

# Afficher le résultat
print("Average number of departures per station for days of the week and hours between  4p.m. and 8 p.m. in 2019:")
print(average_weekday_evening.head(10))

Average number of departures per station for days of the week and hours between 6 a.m. and 10 a.m. in 2019:
start station name
Hamilton Park         45
Brunswick & 6th       21
Marin Light Rail      17
Jersey & 6th St       17
Monmouth and 6th      16
Morris Canal          15
Brunswick St          15
Grove St PATH         13
Dixon Mills           12
Liberty Light Rail    11
Name: count, dtype: int64
Average number of departures per station for days of the week and hours between  4p.m. and 8 p.m. in 2019:
start station name
Grove St PATH                 92
Sip Ave                       34
Newport PATH                  26
Harborside                    23
Columbus Dr at Exchange Pl    17
Paulus Hook                   14
Journal Square                13
City Hall                     12
Hamilton Park                 12
Exchange Place                11
Name: count, dtype: int64

In [26]:
count_stations_2023 = data_2023['start_station_name'].value_counts()
print(count_stations_2023)

start_station_name
Grove St PATH                                   47010
Hoboken Terminal - River St & Hudson Pl         43698
South Waterfront Walkway - Sinatra Dr & 1 St    31288
Hoboken Terminal - Hudson St & Hudson Pl        27262
City Hall - Washington St & 1 St                24252
                                                ...
Broadway & W 53 St                                  1
E 84 St & 1 Ave                                     1
Division Ave & Hooper St                            1
E 97 St & 3 Ave                                     1
Washington Pl & 6 Ave                               1
Name: count, Length: 351, dtype: int64

In [23]:
##2023 - SATURDAYS - START STATIONS

# Convertir la colonne de date au format datetime
data_2023['started_at'] = pd.to_datetime(data_2023['started_at'])

# Extraire le jour de la semaine
data_2023['day_of_week'] = data_2023['started_at'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les données pour inclure uniquement les samedis (jour_de_la_semaine = 5)
saturdays_data = data_2023[data_2023['day_of_week'] == 5]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
saturdays_station_counts = saturdays_data['start_station_name'].value_counts()

# Calculer le nombre de samedis de l'année 2019
num_saturdays_2023 = len(data_2023[data_2023['day_of_week'] == 5]['started_at'].dt.date.unique())

# Calculer le nombre moyen de départs par station le samedi pour chaque station
average_saturdays_per_station = (saturdays_station_counts/num_saturdays_2023).round(0).astype(int)

# Afficher le résultat
print("10 first stations with the highest demand (in terms of starting stations) on Saturdays")
print(average_saturdays_per_station.head(10))

10 first stations with the highest demand (in terms of starting stations) on Saturdays
start_station_name
Hoboken Terminal - River St & Hudson Pl         113
Grove St PATH                                   101
South Waterfront Walkway - Sinatra Dr & 1 St     83
Hoboken Terminal - Hudson St & Hudson Pl         74
City Hall - Washington St & 1 St                 64
Hoboken Ave at Monmouth St                       61
12 St & Sinatra Dr N                             60
Newport Pkwy                                     58
Hamilton Park                                    57
Newport PATH                                     56
Name: count, dtype: int64

In [41]:

# Définir le nom du fichier Excel de sortie
weekdays_excel_file = "weekdays.xlsx"

# Créer un objet ExcelWriter pour écrire dans le fichier Excel
with pd.ExcelWriter(weekdays_excel_file) as writer:
    # Écrire la première série dans la feuille Excel
    average_weekdays.to_excel(writer, sheet_name='Feuille1', index=True)
    average_weekday_morning.to_excel(writer, sheet_name='Feuille1', startcol=3, index=True)
    average_weekday_evening.to_excel(writer, sheet_name='Feuille1', startcol=5, index=True)

# Afficher un message de confirmation
print(f"Data in the Excel file '{weekdays_excel_file}'.")

Data in the Excel file 'weekdays.xlsx'.