In [6]:
%run functions.ipynb
%run data_preparation.ipynb

base_folder_path = '/workspaces/nyc_bike_rental//data'
start_year = 2015
end_year = 2019
combined_data = combine_csv_files_in_years(base_folder_path,start_year,end_year)
import pandas as pd

Accessible dataframes    Description                            # of columns
combined_data            Gives combined data from 2015-2019     15
data_2020                Gives data for 2020                    15
data_2024                Gives data for 2024                    13
data_2019                Gives data for 2019-Baseline           15
station_data             Existing stations in NYC from Lyft      6

In [8]:
data_2024

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0744109F13385D1D,electric_bike,2024-01-15 15:18:07,2024-01-15 15:32:44,Morris Canal,JC072,Oakland Ave,JC022,40.712297,-74.038185,40.737604,-74.052478,member
1,B1488BFEF9118000,classic_bike,2024-01-13 15:32:50,2024-01-13 15:36:18,JC Medical Center,JC110,Grove St PATH,JC115,40.715391,-74.049692,40.719410,-74.043090,member
2,95A2FE8E51B4C836,classic_bike,2024-01-19 13:11:00,2024-01-19 13:14:44,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
3,95D9AFF6A1652DC1,classic_bike,2024-01-23 07:03:49,2024-01-23 07:07:11,Morris Canal,JC072,Exchange Pl,JC116,40.712419,-74.038526,40.716366,-74.034344,member
4,5F7408988A83B1B3,classic_bike,2024-01-01 16:46:10,2024-01-01 16:50:31,Morris Canal,JC072,Harborside,JC104,40.712419,-74.038526,40.719252,-74.034234,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50656,75E5CF948A4ADB77,electric_bike,2024-01-25 20:51:27,2024-01-25 20:59:16,Willow Ave & 12 St,HB505,Clinton St & 7 St,HB303,40.751920,-74.030396,40.745420,-74.033320,casual
50657,58DD5BF65F9B9E31,electric_bike,2024-01-27 09:03:41,2024-01-27 09:08:47,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,casual
50658,F0FBCE423BE48B08,classic_bike,2024-01-28 14:46:29,2024-01-28 14:51:43,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,member
50659,7DD51CAD2DBE7990,classic_bike,2024-01-10 08:03:47,2024-01-10 08:10:55,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.745420,-74.033320,casual
50660,A48A85D58AFEBAA3,electric_bike,2024-01-29 12:22:47,2024-01-29 12:25:33,Willow Ave & 12 St,HB505,Bloomfield St & 15 St,HB203,40.751956,-74.030405,40.754530,-74.026580,member

In [7]:
data_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.936,2019-12-01 00:33:07.682,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.470,2019-12-01 00:23:36.570,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.798,2019-12-01 00:25:23.969,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.758,2019-12-01 00:22:51.597,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.023,2019-12-01 00:34:44.228,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,367,2019-02-21 12:05:05.268,2019-02-21 12:11:13.221,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,1
404943,497,2019-02-21 17:45:00.451,2019-02-21 17:53:18.158,3694,Jackson Square,40.711130,-74.078900,3679,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985,1
404944,959,2019-02-25 06:17:31.931,2019-02-25 06:33:31.495,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977,1
404945,936,2019-02-26 06:14:45.417,2019-02-26 06:30:21.875,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977,1
404946,822,2019-02-26 15:45:20.537,2019-02-26 15:59:02.607,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,2

In [5]:
combined_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2118.0,2015-12-01 00:49:31,2015-12-01 01:24:49,3199.0,Newport Pkwy,40.728745,-74.032108,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,267.0,2015-12-01 01:48:34,2015-12-01 01:53:02,3186.0,Grove St PATH,40.719586,-74.043117,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,119.0,2015-12-01 03:05:28,2015-12-01 03:07:27,3214.0,Essex Light Rail,40.712774,-74.036486,3183.0,Exchange Place,40.716247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,340.0,2015-12-01 05:37:09,2015-12-01 05:42:49,3203.0,Hamilton Park,40.727596,-74.044247,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,638.0,2015-12-01 05:50:32,2015-12-01 06:01:11,3207.0,Oakland Ave,40.737604,-74.052478,3185.0,City Hall,40.717732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN