In [6]:
%run functions.ipynb
%run data_preparation.ipynb

base_folder_path = '/workspaces/nyc_bike_rental//data'
start_year = 2015
end_year = 2019
combined_data = combine_csv_files_in_years(base_folder_path,start_year,end_year)
import pandas as pd

Accessible dataframes    Description                            # of columns
combined_data            Gives combined data from 2015-2019     15
data_2020                Gives data for 2020                    15
data_2024                Gives data for 2024                    13
data_2019                Gives data for 2019-Baseline           15
station_data             Existing stations in NYC from Lyft      6

In [18]:
data_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1553,2019-12-01 00:07:13.936,2019-12-01 00:33:07.682,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1
1,416,2019-12-01 00:16:40.470,2019-12-01 00:23:36.570,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1
2,294,2019-12-01 00:20:29.798,2019-12-01 00:25:23.969,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1
3,97,2019-12-01 00:21:13.758,2019-12-01 00:22:51.597,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1
4,286,2019-12-01 00:29:58.023,2019-12-01 00:34:44.228,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,367,2019-02-21 12:05:05.268,2019-02-21 12:11:13.221,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,1
404943,497,2019-02-21 17:45:00.451,2019-02-21 17:53:18.158,3694,Jackson Square,40.711130,-74.078900,3679,Bergen Ave,40.722104,-74.071455,29296,Subscriber,1985,1
404944,959,2019-02-25 06:17:31.931,2019-02-25 06:33:31.495,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29673,Subscriber,1977,1
404945,936,2019-02-26 06:14:45.417,2019-02-26 06:30:21.875,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29672,Subscriber,1977,1
404946,822,2019-02-26 15:45:20.537,2019-02-26 15:59:02.607,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26189,Subscriber,1983,2

In [17]:
#qccess one column
station_counts = data_2019['start station name'].value_counts()
print(station_counts.head(30))

start station name
Grove St PATH                 46662
Hamilton Park                 24106
Sip Ave                       19085
Harborside                    17877
Newport PATH                  17370
Marin Light Rail              14196
Newport Pkwy                  11173
Newark Ave                    10604
City Hall                     10186
Morris Canal                  10063
Warren St                     10020
Washington St                  9824
Brunswick & 6th                9678
Paulus Hook                    9108
Jersey & 3rd                   9086
Columbus Dr at Exchange Pl     9027
Jersey & 6th St                9006
Van Vorst Park                 8684
Columbus Drive                 8585
Liberty Light Rail             8508
Brunswick St                   8506
Monmouth and 6th               8175
Journal Square                 7684
Manila & 1st                   7377
McGinley Square                7194
JC Medical Center              6795
Dixon Mills                    6667
Essex Light Rail               6244
Grand St                       6242
Exchange Place                 5304
Name: count, dtype: int64

In [11]:
data_2019.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [35]:
##SATURDAYS

# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les donnÃ©es pour inclure uniquement les samedis (jour_de_la_semaine = 5)
saturdays_data = data_2019[data_2019['day_of_week'] == 5]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
saturdays_station_counts = saturdays_data['start station name'].value_counts()

# Calculer le nombre de samedis de l'annÃ©e 2019
num_saturdays_2019 = len(data_2019[data_2019['day_of_week'] == 5]['starttime'].dt.date.unique())

# Calculer le nombre moyen de dÃ©parts par station le samedi pour chaque station
average_saturdays_per_station = (saturdays_station_counts/num_saturdays_2019).round(0).astype(int)

# Afficher le rÃ©sultat
print("10 first stations with the highest demand (in terms of starting stations) on Saturdays")
print(average_saturdays_per_station.head(10))

10 first stations with the highest demand (in terms of starting stations) on Saturdays
start station name
Grove St PATH         73
Hamilton Park         49
Marin Light Rail      48
Harborside            48
Newport PATH          42
Sip Ave               38
Newport Pkwy          35
Newark Ave            32
Liberty Light Rail    31
Warren St             28
Name: count, dtype: int64

In [37]:
##SUNDAYS

# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 5: Samedi, 6: Dimanche

# Filtrer les donnÃ©es pour inclure uniquement les dimanche
sundays_data = data_2019[data_2019['day_of_week'] == 6]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les samedis
sundays_station_counts = sundays_data['start station name'].value_counts()

# Calculer le nombre de samedis de l'annÃ©e 2019
num_sundays_2019 = len(data_2019[data_2019['day_of_week'] == 6]['starttime'].dt.date.unique())

# Calculer le nombre moyen de dÃ©parts par station le samedi pour chaque station
average_sundays_per_station = (sundays_station_counts/num_sundays_2019).round(0).astype(int)

# Afficher le rÃ©sultat
print("10 first stations with the highest demand (in terms of starting stations) on Saturdays")
print(average_sundays_per_station.head(10))

10 first stations with the highest demand (in terms of starting stations) on Saturdays
start station name
Grove St PATH         67
Harborside            41
Hamilton Park         40
Marin Light Rail      37
Newport Pkwy          35
Newport PATH          35
Sip Ave               30
Warren St             29
Liberty Light Rail    27
Newark Ave            24
Name: count, dtype: int64

In [39]:
#WEEKDAYS
# Convertir la colonne de date au format datetime
data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])

# Extraire le jour de la semaine
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Lundi, 1: Mardi, ..., 6: Dimanche

# Filtrer les donnÃ©es pour inclure uniquement les jours de la semaine (lundi Ã  vendredi)
weekdays_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4)]

# Compter le nombre d'occurrences de chaque station en tant que "start station name" sur les jours de la semaine
weekdays_station_counts = weekdays_data['start station name'].value_counts()

# Calculer le nombre de jours de la semaine (lundi Ã  vendredi) dans l'annÃ©e 2019
num_weekdays_2019 = len(weekdays_data['starttime'].dt.date.unique())

# Calculer le nombre moyen de dÃ©parts par station pour chaque jour de la semaine (lundi Ã  vendredi)
average_weekdays_per_station = weekdays_station_counts / num_weekdays_2019

# Arrondir chaque valeur Ã  l'entier le plus proche
average_weekdays_per_station = average_weekdays_per_station.round(0).astype(int)

# Afficher le rÃ©sultat
print("Top 10 stations with the highest demand per day (in terms of starting stations) during the week")
print(average_weekdays_per_station)

Top 10 stations with the highest demand per day (in terms of starting stations) during the week
start station name
Grove St PATH                 151
Hamilton Park                  75
Sip Ave                        60
Newport PATH                   51
Harborside                     51
Marin Light Rail               37
Brunswick & 6th                31
City Hall                      30
Newark Ave                     29
Washington St                  29
Newport Pkwy                   29
Morris Canal                   29
Columbus Dr at Exchange Pl     28
Jersey & 6th St                28
Paulus Hook                    28
Warren St                      27
Jersey & 3rd                   26
Monmouth and 6th               26
Journal Square                 26
Brunswick St                   25
Columbus Drive                 25
Van Vorst Park                 25
McGinley Square                22
Liberty Light Rail             21
Manila & 1st                   21
Dixon Mills                    20
Essex Light Rail               18
JC Medical Center              18
Grand St                       17
Exchange Place                 17
Oakland Ave                    15
Pershing Field                 14
Astor Place                    11
Montgomery St                  11
Baldwin at Montgomery          11
Fairmount Ave                  10
York St                        10
Bergen Ave                     10
Lafayette Park                  9
Lincoln Park                    8
Hilltop                         8
Heights Elevator                8
Christ Hospital                 8
5 Corners Library               7
Leonard Gordon Park             7
Glenwood Ave                    7
Riverview Park                  6
Communipaw & Berry Lane         5
Hoboken Ave at Monmouth St      4
Dey St                          4
Jackson Square                  3
Union St                        3
JCBS Depot                      0
Name: count, dtype: int64

In [5]:
combined_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2118.0,2015-12-01 00:49:31,2015-12-01 01:24:49,3199.0,Newport Pkwy,40.728745,-74.032108,3199.0,Newport Pkwy,40.728745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,267.0,2015-12-01 01:48:34,2015-12-01 01:53:02,3186.0,Grove St PATH,40.719586,-74.043117,3209.0,Brunswick St,40.724176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,119.0,2015-12-01 03:05:28,2015-12-01 03:07:27,3214.0,Essex Light Rail,40.712774,-74.036486,3183.0,Exchange Place,40.716247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,340.0,2015-12-01 05:37:09,2015-12-01 05:42:49,3203.0,Hamilton Park,40.727596,-74.044247,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,638.0,2015-12-01 05:50:32,2015-12-01 06:01:11,3207.0,Oakland Ave,40.737604,-74.052478,3185.0,City Hall,40.717732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN