In [1]:
##Preparation

%run functions.ipynb
%run data_preparation.ipynb

# base_folder_path = '/workspaces/nyc_bike_rental//data'
# start_year = 2015
# end_year = 2019
#combined_data = combine_csv_files_in_years(base_folder_path,start_year,end_year)
import pandas as pd

Accessible dataframes    Description                            # of columns
data_2019                Gives data for 2019-Baseline           15
data_2024                Gives data for 2024                    13
station_data             Existing stations in NYC from Lyft      6

In [25]:
station_data

,short_name,name,region_id,lat,lon,capacity
0,6215.04,W 25 St & 6 Ave,71,40.743954,-73.991449,51
1,5216.06,Vesey St & Church St,71,40.712220,-74.010472,48
2,4129.10,Herkimer St & Eastern Pkwy,71,40.677380,-73.908290,20
3,8262.07,W 171 St & St Nicholas Ave,71,40.842941,-73.938631,31
4,8467.03,E 184 St & 3 Ave,NaN,40.854720,-73.890220,19
...,...,...,...,...,...,...
2203,HB201,12 St & Sinatra Dr N,311,40.750604,-74.024020,28
2204,JC084,Communipaw & Berry Lane,70,40.714358,-74.066611,14
2205,HB302,6 St & Grand St,311,40.744398,-74.034501,18
2206,HB603,8 St & Washington St,311,40.745984,-74.028199,21
2207,JC006,Warren St,70,40.721124,-74.038051,22

In [12]:
data_2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,570,2019-10-16 08:11:16.991,2019-10-16 08:20:47.367,453.0,W 22 St & 8 Ave,40.744751,-73.999154,3235.0,E 41 St & Madison Ave,40.752165,-73.979922,15131,Subscriber,1974,1
1,657,2019-10-16 08:11:17.547,2019-10-16 08:22:15.194,212.0,W 16 St & The High Line,40.743349,-74.006818,426.0,West St & Chambers St,40.717548,-74.013221,33833,Subscriber,1994,1
2,610,2019-10-16 08:11:17.753,2019-10-16 08:21:28.747,466.0,W 25 St & 6 Ave,40.743954,-73.991449,519.0,Pershing Square North,40.751873,-73.977706,35074,Subscriber,1995,1
3,379,2019-10-16 08:11:17.801,2019-10-16 08:17:37.146,3646.0,35 Ave & 10 St,40.763155,-73.939855,3130.0,21 St & Queens Plaza North,40.753260,-73.943358,40940,Subscriber,1986,2
4,329,2019-10-16 08:11:17.815,2019-10-16 08:16:46.876,319.0,Fulton St & Broadway,40.711066,-74.009447,415.0,Pearl St & Hanover Square,40.704718,-74.009260,40993,Subscriber,1966,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20551692,445,2019-04-04 08:24:17.464,2019-04-04 08:31:42.697,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,3715.0,Driggs Ave & N 9 St,40.718170,-73.955201,34930,Subscriber,1985,2
20551693,282,2019-04-04 08:24:14.827,2019-04-04 08:28:57.386,347.0,Greenwich St & W Houston St,40.728846,-74.008591,426.0,West St & Chambers St,40.717548,-74.013221,36794,Subscriber,1988,1
20551694,485,2019-04-04 08:24:13.146,2019-04-04 08:32:18.783,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,282.0,Kent Ave & S 11 St,40.707645,-73.968415,31045,Subscriber,1981,2
20551695,1749,2019-04-04 08:24:13.304,2019-04-04 08:53:22.334,3629.0,Adam Clayton Powell Blvd & W 126 St,40.809495,-73.947765,479.0,9 Ave & W 45 St,40.760193,-73.991255,36116,Subscriber,1984,1
20551696,329,2019-04-04 08:24:25.548,2019-04-04 08:29:55.399,238.0,Bank St & Washington St,40.736197,-74.008592,435.0,W 21 St & 6 Ave,40.741740,-73.994156,36806,Subscriber,1951,1

In [22]:
count_total_stations=data_2019['start station name'].value_counts()
print(count_total_stations)

start station name
Pershing Square North        156575
E 17 St & Broadway           121781
8 Ave & W 31 St              119958
Broadway & E 22 St           113138
Broadway & E 14 St           113012
                              ...
Somers St & Broadway              8
Madison St & Woodward Ave         6
NYCBS DEPOT - DELANCEY            6
58th St Depot                     6
W 39 St & 9 Ave                   3
Name: count, Length: 938, dtype: int64

In [13]:
##WEEKENDS

data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek  # 0: Monday, 1: Tuesday, ..., 6: Sunday
num_weekends_2019 = len(data_2019[(data_2019['day_of_week'] >= 5) & (data_2019['day_of_week'] <= 6)]['starttime'].dt.date.unique())

# 1) Average throughout the weekend

weekends_average_data = data_2019[(data_2019['day_of_week'] >= 5) & (data_2019['day_of_week'] <= 6)]
weekends_station_counts = weekends_average_data['start station name'].value_counts()
average_weekends = (weekends_station_counts/num_weekends_2019).round(0).astype(int)

print("10 first stations with the highest demand (in terms of starting stations) on weekends")
print(average_weekends.head(20))

10 first stations with the highest demand (in terms of starting stations) on weekends
start station name
Broadway & W 60 St                   300
E 17 St & Broadway                   282
West St & Chambers St                280
Broadway & E 14 St                   279
12 Ave & W 40 St                     272
W 21 St & 6 Ave                      250
Central Park S & 6 Ave               248
Christopher St & Greenwich St        240
W 20 St & 11 Ave                     237
Cleveland Pl & Spring St             228
Pier 40 - Hudson River Park          225
Grand St & Elizabeth St              222
South End Ave & Liberty St           216
E 13 St & Avenue A                   216
Carmine St & 6 Ave                   215
Grand Army Plaza & Central Park S    212
Lafayette St & E 8 St                210
W 4 St & 7 Ave S                     206
Washington St & Gansevoort St        205
5 Ave & E 88 St                      200
Name: count, dtype: int64

In [33]:
# 2) Average from 6am to 10am

weekends_morning_data = data_2019[(data_2019['day_of_week'] >= 5) & (data_2019['day_of_week'] <= 6) & (data_2019['starttime'].dt.hour >= 6) & (data_2019['starttime'].dt.hour < 10)]
weekends_morning_counts = weekends_morning_data['start station name'].value_counts()
weekends_morning = (weekends_morning_counts/num_weekends_2019).round(0).astype(int)

print("10 first stations with the highest demand (in terms of starting stations) on weekends from 6am to 10am")
print(weekends_morning.head(20))

10 first stations with the highest demand (in terms of starting stations) on weekends from 6am to 10am
start station name
E 13 St & Avenue A               25
1 Ave & E 16 St                  24
1 Ave & E 18 St                  24
Broadway & W 60 St               22
11 Ave & W 41 St                 21
W 41 St & 8 Ave                  20
Christopher St & Greenwich St    20
Central Park S & 6 Ave           20
West St & Chambers St            20
Columbus Ave & W 72 St           19
W 21 St & 6 Ave                  19
South End Ave & Liberty St       19
E 17 St & Broadway               19
E 23 St & 1 Ave                  19
E 25 St & 2 Ave                  19
E 20 St & FDR Drive              18
1 Ave & E 78 St                  18
Broadway & E 14 St               18
E 20 St & 2 Ave                  18
W 22 St & 8 Ave                  18
Name: count, dtype: int64

In [15]:
# 3) Average from 10am to 2pm

weekends_noon_data = data_2019[(data_2019['day_of_week'] >= 5) & (data_2019['day_of_week'] <= 6) & (data_2019['starttime'].dt.hour >= 10) & (data_2019['starttime'].dt.hour < 14)]
weekends_noon_counts = weekends_noon_data['start station name'].value_counts()
weekends_noon = (weekends_noon_counts/num_weekends_2019).round(0).astype(int)

print("10 first stations with the highest demand (in terms of starting stations) on weekends from 10am to 2pm")
print(weekends_noon.head(20))

10 first stations with the highest demand (in terms of starting stations) on weekends from 10am to 2pm
start station name
Broadway & W 60 St                   90
12 Ave & W 40 St                     89
E 17 St & Broadway                   88
West St & Chambers St                83
Central Park S & 6 Ave               80
W 21 St & 6 Ave                      75
Broadway & E 14 St                   75
Grand Army Plaza & Central Park S    73
Christopher St & Greenwich St        71
South End Ave & Liberty St           66
W 20 St & 11 Ave                     65
E 10 St & Avenue A                   65
Cleveland Pl & Spring St             65
E 13 St & Avenue A                   64
5 Ave & E 88 St                      64
Lafayette St & E 8 St                61
Grand St & Elizabeth St              61
Pier 40 - Hudson River Park          61
Broadway & E 22 St                   60
E 11 St & 1 Ave                      59
Name: count, dtype: int64

In [16]:
# 4) Average from 2pm to 6pm

weekends_afternoon_data = data_2019[(data_2019['day_of_week'] >= 5) & (data_2019['day_of_week'] <= 6) & (data_2019['starttime'].dt.hour >= 14) & (data_2019['starttime'].dt.hour < 18)]
weekends_afternoon_counts = weekends_afternoon_data['start station name'].value_counts()
weekends_afternoon = (weekends_afternoon_counts/num_weekends_2019).round(0).astype(int)

print("10 first stations with the highest demand (in terms of starting stations) on weekends from 2pm to 6pm")
print(weekends_afternoon.head(20))

10 first stations with the highest demand (in terms of starting stations) on weekends from 2pm to 6pm
start station name
Broadway & W 60 St                   113
West St & Chambers St                108
12 Ave & W 40 St                     107
E 17 St & Broadway                   103
Broadway & E 14 St                    95
Central Park S & 6 Ave                94
W 20 St & 11 Ave                      94
Pier 40 - Hudson River Park           90
5 Ave & E 88 St                       89
W 34 St & 11 Ave                      86
W 21 St & 6 Ave                       85
Grand Army Plaza & Central Park S     84
Christopher St & Greenwich St         82
South End Ave & Liberty St            80
Cleveland Pl & Spring St              79
Washington St & Gansevoort St         79
Grand St & Elizabeth St               78
Central Park West & W 72 St           77
5 Ave & E 73 St                       76
Broadway & E 22 St                    73
Name: count, dtype: int64

In [17]:
# 5) Average from 6pm to 10pm

weekends_evening_data = data_2019[(data_2019['day_of_week'] >= 5) & (data_2019['day_of_week'] <= 6) & (data_2019['starttime'].dt.hour >= 18) & (data_2019['starttime'].dt.hour < 22)]
weekends_evening_counts = weekends_evening_data['start station name'].value_counts()
weekends_evening = (weekends_evening_counts/num_weekends_2019).round(0).astype(int)

print("10 first stations with the highest demand (in terms of starting stations) on weekends from 6pm to 10pm")
print(weekends_evening.head(20))

10 first stations with the highest demand (in terms of starting stations) on weekends from 6pm to 10pm
start station name
Broadway & E 14 St               63
Broadway & W 60 St               57
West St & Chambers St            57
W 21 St & 6 Ave                  55
W 20 St & 11 Ave                 55
E 17 St & Broadway               54
Pier 40 - Hudson River Park      52
Cleveland Pl & Spring St         50
12 Ave & W 40 St                 50
Christopher St & Greenwich St    49
Grand St & Elizabeth St          48
Carmine St & 6 Ave               47
Lafayette St & E 8 St            46
W 4 St & 7 Ave S                 44
E 13 St & Avenue A               43
Central Park S & 6 Ave           43
South End Ave & Liberty St       41
Washington St & Gansevoort St    40
Broadway & E 22 St               40
E 11 St & 1 Ave                  39
Name: count, dtype: int64

In [18]:
#WEEKDAYS 

data_2019['starttime'] = pd.to_datetime(data_2019['starttime'])
data_2019['day_of_week'] = data_2019['starttime'].dt.dayofweek


# 1) Average throughout the week

weekdays_average_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4)]
weekdays_average_counts = weekdays_average_data['start station name'].value_counts()
num_weekdays_2019 = len(weekdays_average_data['starttime'].dt.date.unique())
average_weekdays = (weekdays_average_counts / num_weekdays_2019).round(0).astype(int)

print("Top 10 stations with the highest demand per day (in terms of starting stations) during the week")
print(average_weekdays.head(20))

Top 10 stations with the highest demand per day (in terms of starting stations) during the week
start station name
Pershing Square North            532
8 Ave & W 31 St                  400
Broadway & E 22 St               355
E 17 St & Broadway               354
W 21 St & 6 Ave                  323
Broadway & E 14 St               322
8 Ave & W 33 St                  302
E 47 St & Park Ave               299
W 41 St & 8 Ave                  295
West St & Chambers St            293
Christopher St & Greenwich St    293
W 38 St & 8 Ave                  284
W 31 St & 7 Ave                  278
W 20 St & 11 Ave                 277
Broadway & W 41 St               276
Broadway & W 60 St               276
Lafayette St & E 8 St            276
Broadway & W 25 St               275
12 Ave & W 40 St                 272
E 24 St & Park Ave S             267
Name: count, dtype: int64

In [19]:
# 2) From 6am to 10am

weekday_morning_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4) & (data_2019['starttime'].dt.hour >= 6) & (data_2019['starttime'].dt.hour < 10)]
weekday_morning_station_counts = weekday_morning_data['start station name'].value_counts()
average_weekday_morning = (weekday_morning_station_counts / num_weekdays_2019).round(0).astype(int)

print("Average number of departures per station for days of the week and hours between 6 a.m. and 10 a.m. in 2019:")
print(average_weekday_morning.head(20))

Average number of departures per station for days of the week and hours between 6 a.m. and 10 a.m. in 2019:
start station name
8 Ave & W 31 St                  212
Pershing Square North            169
Christopher St & Greenwich St    114
12 Ave & W 40 St                 106
Broadway & W 41 St                95
8 Ave & W 33 St                   91
E 13 St & Avenue A                88
1 Ave & E 16 St                   83
W 31 St & 7 Ave                   82
E 10 St & Avenue A                81
E 47 St & Park Ave                78
W 38 St & 8 Ave                   74
E 20 St & FDR Drive               74
Pershing Square South             74
St Marks Pl & 1 Ave               73
E 2 St & Avenue B                 71
FDR Drive & E 35 St               68
Columbus Ave & W 72 St            68
W 33 St & 7 Ave                   67
E 20 St & 2 Ave                   67
Name: count, dtype: int64

In [20]:
# 3) From 4pm to 8pm

weekday_evening_data = data_2019[(data_2019['day_of_week'] >= 0) & (data_2019['day_of_week'] <= 4) & (data_2019['starttime'].dt.hour >= 16) & (data_2019['starttime'].dt.hour < 20)]
weekday_evening_station_counts = weekday_evening_data['start station name'].value_counts()
average_weekday_evening = (weekday_evening_station_counts / num_weekdays_2019).round(0).astype(int)

print("Average number of departures per station for days of the week and hours between 4 p.m. and 8 p.m. in 2019:")
print(average_weekday_evening.head(20))

Average number of departures per station for days of the week and hours between 4 p.m. and 8 p.m. in 2019:
start station name
Pershing Square North            227
Broadway & E 22 St               183
E 47 St & Park Ave               158
North Moore St & Greenwich St    146
E 17 St & Broadway               145
West St & Chambers St            133
E 24 St & Park Ave S             130
W 21 St & 6 Ave                  122
Broadway & E 14 St               117
W 41 St & 8 Ave                  116
W 20 St & 11 Ave                 113
Broadway & W 25 St               112
E 48 St & 5 Ave                  112
W 18 St & 6 Ave                  108
W 38 St & 8 Ave                  107
W 31 St & 7 Ave                  104
W 52 St & 5 Ave                  104
W 52 St & 6 Ave                  102
Lafayette St & E 8 St            102
Broadway & W 60 St               101
Name: count, dtype: int64

In [21]:

demand_excel_file = "Bike_demand.xlsx"


with pd.ExcelWriter(demand_excel_file) as writer:
    average_weekdays.to_excel(writer, sheet_name='Feuille1', index=True)
    average_weekday_morning.to_excel(writer, sheet_name='Feuille1', startcol=3, index=True)
    average_weekday_evening.to_excel(writer, sheet_name='Feuille1', startcol=5, index=True)

    average_weekends.to_excel(writer, sheet_name='Feuille2', index=True)
    weekends_morning.to_excel(writer, sheet_name='Feuille2', startcol=3, index=True)
    weekends_noon.to_excel(writer, sheet_name='Feuille2', startcol=5, index=True)
    weekends_afternoon.to_excel(writer, sheet_name='Feuille2', startcol=7, index=True)
    weekends_evening.to_excel(writer, sheet_name='Feuille2', startcol=9, index=True)


print(f"Data in the Excel file '{demand_excel_file}'.")

Data in the Excel file 'Bike_demand.xlsx'.

In [51]:
station_row = station_data.loc[station_data['name'] == 'Broadway & W 60 St']
print(station_row)
    # Extraire les coordonnées (latitude et longitude)
latitude = station_row['lat'].values[0]
print(latitude)

Empty DataFrame
Columns: [short_name, name, region_id, lat, lon, capacity]
Index: []

IndexError: index 0 is out of bounds for axis 0 with size 0

In [2]:
from math import sin, cos, sqrt, atan2, radians

def distance_lat_long(lat1, lon1, lat2, lon2):
    R = 6371000.0

    
    lat1_rad = radians(lat1)
    lon1_rad = radians(lon1)
    lat2_rad = radians(lat2)
    lon2_rad = radians(lon2)

    dlat = lat2_rad - lat1_rad
    dlon = lon2_rad - lon1_rad

    a = sin(dlat / 2)**2 + cos(lat1_rad) * cos(lat2_rad) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    distance = R * c

    return distance

In [8]:
subway_station = pd.read_excel("Subway_stations_nyc.xlsx", usecols="A:E")

# Renommer la colonne en 'surrounding bike stations'
subway_station.rename(columns={'Count': 'surrounding bike stations'}, inplace=True)


# Boucle à travers chaque ligne de subway_station
for index, row in subway_station.iterrows():
    lat2 = row['Station Latitude']
    lon2 = row['Station Longitude']
    count = 0

    # Boucle à travers chaque ligne de station_data
    for index2, row2 in station_data.iterrows():
        lat1 = row2['lat']
        lon1 = row2['lon']
        distance = distance_lat_long(lat1, lon1, lat2, lon2)
        
        # Vérifier si la distance est inférieure à 1000
        if distance < 1000:
            count += 1
    
    # Mettre à jour la valeur dans la colonne renommée de subway_station
    subway_station.at[index, 'surrounding bike stations'] = count

# Afficher le dataframe mis à jour
print(subway_station)

                Line Borough     Station Name  Station Latitude  \
0    42nd St Shuttle       M    Grand Central         40.752769
1    42nd St Shuttle       M     Times Square         40.755983
2             4th Av       B       Pacific St         40.683666
3             4th Av       B         Union St         40.677316
4             4th Av       B      Lawrence St         40.692180
..               ...     ...              ...               ...
351  White Plains Rd      Bx       Simpson St         40.824073
352  White Plains Rd      Bx     Intervale Av         40.822181
353  White Plains Rd      Bx      Prospect Av         40.819585
354  White Plains Rd      Bx       Jackson Av         40.816490
355  White Plains Rd      Bx  149th St-3rd Av         40.816109

     Station Longitude  surrounding bike stations
0           -73.979189                       52.0
1           -73.986229                       54.0
2           -73.978810                       39.0
3           -73.983110                       36.0
4           -73.985942                       46.0
..                 ...                        ...
351         -73.893064                       31.0
352         -73.896736                       31.0
353         -73.901770                       32.0
354         -73.907807                       34.0
355         -73.917757                       37.0

[356 rows x 6 columns]

In [6]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'list[str] | None' = None, index_col: 'int | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | dict[IntStrT, DataFrame]'
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions (chart sheets do not count as a sheet position).
        Lists of strings/integers are used to request multiple sheets.
        Specify None to get all worksheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All worksheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.

        Missing values will be forward filled to allow roundtripping with
        ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
        missing values use ``set_index`` after reading the data instead of
        ``index_col``.
    usecols : str, list-like, or callable, default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed
          (0-indexed).
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Supported engines: "xlrd", "openpyxl", "odf", "pyxlsb".
        Engine compatibility :

        - "xlrd" supports old-style Excel files (.xls).
        - "openpyxl" supports newer Excel file formats.
        - "odf" supports OpenDocument file formats (.odf, .ods, .odt).
        - "pyxlsb" supports Binary Excel files.

        .. versionchanged:: 1.2.0
            The engine `xlrd <https://xlrd.readthedocs.io/en/latest/>`_
            now only supports old-style ``.xls`` files.
            When ``engine=None``, the following logic will be
            used to determine the engine:

           - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
             then `odf <https://pypi.org/project/odfpy/>`_ will be used.
           - Otherwise if ``path_or_buffer`` is an xls format,
             ``xlrd`` will be used.
           - Otherwise if ``path_or_buffer`` is in xlsb format,
             ``pyxlsb`` will be used.

             .. versionadded:: 1.3.0
           - Otherwise ``openpyxl`` will be used.

             .. versionchanged:: 1.3.0

    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    decimal : str, default '.'
        Character to recognize as decimal point for parsing string columns to numeric.
        Note that this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.(e.g. use ',' for European data).

        .. versionadded:: 1.4.0

    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    dtype_backend : {"numpy_nullable", "pyarrow"}, defaults to NumPy backed DataFrames
        Which dtype_backend to use, e.g. whether a DataFrame should have NumPy
        arrays, nullable dtypes are used for all dtypes that have a nullable
        implementation when "numpy_nullable" is set, pyarrow is used for all
        dtypes if "pyarrow" is set.

        The dtype_backends are still experimential.

        .. versionadded:: 2.0

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN