In [6]:
%run functions.ipynb
%run data_preparation.ipynb

base_folder_path = '/workspaces/nyc_bike_rental//data'
start_year = 2015
end_year = 2019
combined_data = combine_csv_files_in_years(base_folder_path,start_year,end_year)
import pandas as pd

Accessible dataframes    Description                            # of columns
combined_data            Gives combined data from 2015-2019     15
data_2020                Gives data for 2020                    15
data_2024                Gives data for 2024                    13
station_data             Existing stations in NYC from Lyft      6

In [3]:
combined_data.tail()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1321173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26189.0,Subscriber,1983.0,1.0
1321174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.71113,-74.0789,3679.0,Bergen Ave,40.722104,-74.071455,29296.0,Subscriber,1985.0,1.0
1321175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.71113,-74.0789,3183.0,Exchange Place,40.716247,-74.033459,29673.0,Subscriber,1977.0,1.0
1321176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.71113,-74.0789,3183.0,Exchange Place,40.716247,-74.033459,29672.0,Subscriber,1977.0,1.0
1321177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.71113,-74.0789,3280.0,Astor Place,40.719282,-74.071262,26189.0,Subscriber,1983.0,2.0